// Materialize overrides

$primary-color: #df0917;
$primary-color-light: #FFCDD2;
$primary-color-dark: #D32F2F;
$secondary-color: #58081e;
$success-color: #26a69a;
$error-color: #d83d3d;
$link-color: #da41ad;
$white: #ffffff;  
$gray: #e9e9e9;
