// Materialize overrides

$error-color:         #d83d3d;
$gray:                #e9e9e9;
$link-color:          #da41ad;
$primary-color-dark:  #D32F2F;
$primary-color-light: #FFCDD2;
$primary-color:       #df0917;
$secondary-color:     #58081e;
$success-color:       #26a69a;
$white:               #ffffff;

$card-link-color:     $primary-color;
