$rails-rumble-bg-color:     #1D1D1D;
$rails-rumble-color:        $white;
$rails-rumble-btn-bg-color: #FFFFAA;
$rails-rumble-btn-color:    #000000;

.gemsavvy__rails-rumble-banner {
  background: $rails-rumble-bg-color;
  color:      $rails-rumble-color;
  padding:    1em 0;

  .btn-primary {
    background: $rails-rumble-btn-bg-color;
    color:      $rails-rumble-btn-color;
    margin-top: 10px;
  }

  .row {
    margin-bottom: 0;
  }

  .logo img {
    height: 50px;
    width: 50px;
  }

  p {
    margin: 0;
  }

  @media #{$small-and-down} {
    .callout, .logo {
      text-align: center;
    }
  }

  @media #{$large-and-up} {
    .callout {
      text-align: right;
    }
  }
}

footer.page-footer .footer-copyright {
  margin-bottom: 40px;
}
