@media #{$small-and-down} {
  .gemsavvy__survey {
    .gemsavvy__survey--group {
      padding: 1rem;
      text-align: center;
      .group--avatar {
        img {
          max-width: 200px;
        }
      }
      .group--info {
        text-align: center;
        .group--info-name, h5 {
          margin-bottom: 0;
        }
      }
      .group--stats {
        margin: 24px 0 24px 0;
        font-size: 1.3rem;
        .group--stats--info {
          span {
            margin-left: 0.5rem;
          }
          text-align: center;
          .group--stats-number {
            color: $primary-color;
            font-weight: bold;
          }
        }
      }
    }
    .group--meta{
      .group--meta-name {
        color: $primary-color;
      }
      .group--meta-dates {
        text-decoration: italic;
      }
    }
    .gemsavvy__survey--categories {
      .card-title {
        font-size: 1.5rem;
      }
      .card-content {
        &:hover {
          background: $gray;
        }
      }
      .collection {
        border: none;
        .collection-item{
          padding: 6px 0 0 0;
          border-bottom: 1px solid $gray;
          .title {
            font-size: 1.5rem;
            font-weight: normal;
          }
          .link {
            font-weight: light;
          }
          .category-numbers {
            color: $primary-color;
          }
        }
      }
    }
    .gemsavvy__survey--outsiders {
      .card-title {
        font-size: 1.5rem;
        line-height: 1;
      }
      .card-content {
        padding: 1rem 0 0 1rem;
        &:hover {
          background: $white;
        }
        p {
          clear: both;
        }
      }
      .collection {
        border: none;
        .collection-item{
          padding: .5rem 0 0 0;
          border: none;
          .title {
            font-size: 1.5rem;
            font-weight: normal;
          }
          .link {
            font-weight: light;
          }
          .icon {
            margin: 0 1rem 0 0;
          }
          .category-numbers {
            color: $primary-color;
          }
          .last-item {
            padding-bottom: 1rem;
          }
        }
      }
    }
  }
}

@media #{$medium-and-up} {
  .gemsavvy__survey {
    &.import-gemfile {
      padding-bottom: 30px;
      .gemsavvy__survey--group {
        padding-bottom: 1rem;
        .group--stats {
          position: relative;
          top: auto;
          transform: none;
        }
      }
      .group--info-name {
        margin-top: 0px;
      }
    }
    .gemsavvy__survey--gemfile-icentive {
      padding-top: 1em;
      padding-bottom: 0.1em;
    }
    .gemsavvy__survey--group {
      .group--avatar {
        min-width: 71px;
        max-width: 100px;
      }
      padding: 2rem;
      position: relative;
      .group--info {
        .group--info-name, h5 {
          margin-bottom: 0;
        }
      }
      .group--stats {
        @include centered (false, true);
        margin: 0;
        right: 0;
        font-size: 1.3rem;
        .group--stats--info {
          span {
            margin-left: 0.5rem;
          }
          text-align: right;
          .group--stats-number {
            color: $primary-color;
            font-weight: bold;
          }
        }
      }
    }
    .gemsavvy__survey--callout {
      margin-bottom: 20px;
    }
    .group--meta{
      .group--meta-description {
        margin: 40px 0;
      }
    }
    .gemsavvy__survey--categories {
      .card-title {
        font-size: 1.5rem;
      }
      .card-content {
        &:hover {
          background: $gray;
        }
      }
      .collection {
        border: none;
        .collection-item{
          padding: 6px 0 0 0;
          border-bottom: 1px solid $gray;
          .title {
            font-size: 1.5rem;
            font-weight: normal;
          }
          .link {
            font-weight: light;
          }
          .category-numbers {
            color: $primary-color;
          }
        }
      }
    }
    .gemsavvy__survey--no-stats {
      blockquote {
        margin-top: 4em;
        margin-bottom: 3em;
        font-size: 1.2em;
      }
    }
    .gemsavvy__survey--outsiders {
      .card-title {
        font-size: 1.5rem;
        line-height: 1;
      }
      .card-content {
        padding: 1rem 0 0 1rem;
        &:hover {
          background: $white;
        }
        p {
          clear: both;
        }
      }
      .collection {
        border: none;
        .collection-item{
          padding: .5rem 0 0 0;
          border: none;
          .title {
            font-size: 1.5rem;
            font-weight: normal;
          }
          .link {
            font-weight: light;
          }
          .icon {
            margin: 0 1rem 0 0;
          }
          .category-numbers {
            color: $primary-color;
          }
          .last-item {
            padding-bottom: 1rem;
          }
        }
      }
    }
  }
}

.gemsavvy__demo_survey {
  p {
    font-size:  11px;
    font-style: italic;
    margin-top: 5px;
  }
  .btn {
    background:  $primary-color;
    color:       $white;
    font-size:   20px;
    height:      60px;
    line-height: 60px;
  }
}
