development:
  ACTIVEADMIN_USERNAME: "miners"
  ACTIVEADMIN_PASSWORD: "coucoulechat"

  DATABASE_USERNAME: "postgres"
  DATABASE_PASSWORD: ""
  DATABASE_HOST: "localhost"

  GITHUB_ACCESS_TOKEN: ""

  REDIS_URL: "redis://127.0.0.1:6379/12"

production:
  ACTIVEADMIN_USERNAME: ""
  ACTIVEADMIN_PASSWORD: ""

  GITHUB_ACCESS_TOKEN: ""

  REDIS_URL: ""
