development:
  ACTIVEADMIN_USERNAME: "miners"
  ACTIVEADMIN_PASSWORD: "coucoulechat"

  CLOUDINARY_API_KEY: ""
  CLOUDINARY_API_SECRET: ""
  CLOUDINARY_CLOUD_NAME: ""

  DATABASE_USERNAME: "postgres"
  DATABASE_PASSWORD: ""
  DATABASE_HOST: "localhost"

  GITHUB_ACCESS_TOKEN: ""

  REDIS_URL: "redis://127.0.0.1:6379/12"


production:
  ACTIVEADMIN_USERNAME: ""
  ACTIVEADMIN_PASSWORD: ""

  CLOUDINARY_API_KEY: ""
  CLOUDINARY_API_SECRET: ""
  CLOUDINARY_CLOUD_NAME: ""

  GITHUB_ACCESS_TOKEN: ""

  REDIS_URL: ""
