// Materialize overrides

$primary-color: #df0917;
$primary-color-light: #7ec7b7;
$primary-color-dark: #951916;

$secondary-color: #7ec7b7;
$success-color: #0c9eb2;
$error-color: #d83d3d;
$link-color: #da41ad;
$white: #ffffff;  
$gray: #e9e9e9;  

// Core Variables
$image-width: 100%;

// Header
$gemsavvy-home-h1: 36px;

body {
  background: $white;
  font-family: 'Open Sans', sans-serif;
}

.brand-logo {
  font-weight: 300;
  img {
    max-width: 300px;
    height: 90%;
  }
}

.light-font {
  font-weight: 300;
}
.extra-bold-font {
  font-weight: 800;
}

img {
  width: $image-width;
}

nav, footer, .page-footer, .btn-primary {
  background: $primary-color;
}

.side-nav {
  background: $secondary-color;
}

footer.page-footer {
  margin-top: 0;
}

h1, h2, h3, h4, h5 {
  color: $primary-color;
}

.parallax {
  height: auto;
}

.sideicon {
  text-align: center;
  i {
    font-size: 300px;
    color: $gray;
  }
}
#header-stats {
  background: image-url("gemsavvy-header-stats.jpg") $secondary-color;
  background-size: cover;
  padding: 12px 0 0 0;
  margin: 0;
  color: $white;
  h1, h2, h3, h4, h5 {
    color: $white;
    font-weight: bold;
  }
}
#header-desktop {
  position: relative;
  background: image-url("gemsavvy-parallax.jpg") $white;
  color: $white;
  border: none;
  background-size: cover;
  h1, h2, h3, h4, h5 {
    color: $white;
  }
  h1 {
    font-size: $gemsavvy-home-h1;
  }

  .info {
    @include centered(false, true);
  }
}

#header-mobile {
  background: image-image-url("gemsavvy-parallax.jpg") $secondary-color;
}

.advert-row {
  margin: 24px 0 12px 0;
  padding: 36px 0;
  .advert-row--ad {
    margin: 0 0 6px 0;
  }
}

#home-info {
  padding: 24px 0 0 0;
}

.upload--gemfile {
  .btn {
    margin: 24px 0 0 0;
  }
  .error-block, .help-block {
    color: $error-color;
    padding: 3px;
  }
}
@media #{$small-and-down} {

}

@media #{$medium-and-down} { 

}

@media #{$medium-and-up} {

}

@media #{$large-and-up} {

}
